git+https://github.com/helena-intel/optimum-intel.git@nncf
git+https://github.com/helena-intel/nncf.git@develop
../../files/wheels/openvino-2022.3.0-000-cp38-cp38-manylinux_2_31_x86_64.whl
../../files/wheels/openvino_dev-2022.3.0-000-py3-none-any.whl
